/* TEXT STYLES */

h1 {
  font-size: 3rem;
  line-height: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text);
  overflow-x: hidden;
  font-size: 100% /* base size */;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 200% */
  letter-spacing: 0.03125rem;
  gap: 0.5rem;
}
.subheader {
  align-self: stretch;
  color: var(--yellow);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
}
.badge-date {
  border-radius: 0.75rem;
  background: var(--nav-on, var(--yellow));
  color: var(--paper-white);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.04375rem;
  display: flex;
  width: 5.53356rem;
  height: 1.75rem;
  padding: 0.25rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
h1,
h2,
h3 {
  font-family: Fraunces;
  color: var(--purple);
}

h2 {
  align-self: stretch;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem; /* 116.667% */
  padding-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem; /* 125% */
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
}

.ticket-card p {
  line-height: 2rem;
}

.hi-combo {
  gap: 0.25rem;
}

/* MAIN CONTENTS */

main {
  max-width: auto;
  margin: 0 auto;
  padding: 4rem;
  background-color: var(--paper-white);
}

.ticket-cards-container {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.ticket-cards {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* INDIVIDUAL TICKET CARDS */

.ticket-card {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.2rem;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  border-radius: 0.9375rem;
  border: 2px solid var(--purple);
}

.ticket-card--recommended {
  position: relative;
  border-color: var(--yellow);
  display: inline-flex;
}
.badge-recommended {
  position: absolute;
  top: -0.75rem;
  left: 1.5rem;

  background: var(--yellow);
  color: var(--white);

  padding: 0.25rem 1rem;

  color: var(--paper-white);
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.card-header-row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-bottom: 1rem;
}

.ticket-texts {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  max-width: 38.25rem;
}

.btn-ticket {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 3.5rem;
  padding: 1rem 2rem;
  justify-content: center;

  background: var(--purple);
  color: var(--paper-white);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-style: normal;
  line-height: 2rem;
  transition: background 0.2s;
  white-space: nowrap;
  flex-shrink: 0;
}

.btn-ticket img {
  margin-left: 0.5rem;
}

.btn-ticket:hover {
  background: var(--purple-dark);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.btn-ticket:active {
  background: var(--purple-dark);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

/* RESPONSIVENESS FOR TABLET */
@media (max-width: 1024px) {
  .ticket-card {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* RESPONSIVENESS FOR MOBILE */
@media (max-width: 760px) {
  .ticket-cards-container {
    gap: 2.1875rem;
  }
  .hi-combo {
    gap: 0;
  }
  .ticket-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-ticket {
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 200% */
    width: 10rem;
    height: 2.75rem;
    padding: 1rem 2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
}
